.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    flex: 0 0 60px;
    padding: 0px 20px;
}

.header-left {
    display: flex;
    align-items: center;
    position: relative;
}

.header-right {
    display: flex;
    position: relative;
}

.header-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.header-icon {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.model-box {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 8.5px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.model-box:hover {
    background-color: #f9f9f9;
}

.expand-icon {
    margin: 1px 0 0 5px;
    font-size: 17px;
    color: rgb(180, 180, 180);
    stroke-width: 1px;
}

.hmodal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}

.hmodal {
    padding: 20px;
    width: 400px;
    max-height: 80%;
    font-size: 20px;
    color: #333;
    overflow-y: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.model-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.model-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.model-alias {
    text-align: center;
}

.model-description {
    margin-top: 8px;
    font-size: 15px;
}

.model-pricing {
    margin-top: 3px;
    font-size: 15px;
}

.share-icon {
    margin: 1px 2px 0 0;
}

.slider-icon {
    margin-bottom: 1px;
    font-size: 19px;
}

.slider-container {
    position: absolute;
    width: 160px;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    padding: 0 15px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    z-index: 100;
}

.slider-wrapper {
    position: relative;
    width: 100%;
}

.temperature-slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 15px 0;
    width: 100%;
    height: 10px;
    background: #eeeeee;
    border-radius: 10px;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
}

.temperature-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #777;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.reason-slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 15px 0;
    width: 100%;
    height: 10px;
    background: #eeeeee;
    border-radius: 10px;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
}

.reason-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #777;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.slider-value {
    position: absolute;
    top: 34px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    background-color: transparent;
    color: #333;
    pointer-events: none;
}

.system-message-container {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    width: 450px;
    padding: 5px;
    margin-right: 10px;
    background-color: rgb(248, 248, 248);
    z-index: 100;
    border-radius: 10px;
}

.system-message-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.header-icon .disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

@media (max-width: 840px) {
    .system-message-container {
        width: 380px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 12px;
    }
    .system-message-container {
        width: calc(100vw - 120px);
    }
    .model-box {
        padding: 5px 2px 6px 5.5px;
    }
}