.status-block {
  width: fit-content;
  margin: 10px 0;
}

.status-block.waiting {
  margin: 14px;
}

.status-block.waiting.init {
  margin: 18px 14px;
}

.status-block.image-generating {
  margin: 0 14px 14px;
}

@media (max-width: 768px) {
  .status-block.image-generating {
    margin-left: 5px;
  }
}

.status-block.remote-streaming {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 18px 0 24px;
}

.status-block-header {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 17px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(100, 100, 100);
  user-select: none;
}

.status-block-header.expandable {
  cursor: pointer;
}

.status-spinner {
  flex-shrink: 0;
  margin-right: 7px;
  font-size: 14px;
  line-height: 1;
}

.status-label {
  display: inline-block;
}

.status-label.animated {
  transition: opacity 0.22s ease-in-out;
}

.status-label.fading {
  opacity: 0.3;
}

.status-content {
  padding: 4px 12px;
  font-size: 14px;
  color: rgb(100, 100, 100);
  overflow: hidden;
}

.status-block.tool .status-content {
  padding: 0 4px;
}
